<p>units-table works!</p>


DataMap(rows=3000,col=25,dropdownitems=250)
<wj-flex-grid [itemsSource]="data">
  <wj-flex-grid-column [binding]="'col0'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col1'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col2'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col3'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col4'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col5'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col6'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col7'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col8'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col9'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col10'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col11'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col12'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col13'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col14'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col15'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col16'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col17'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col18'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col19'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col20'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col21'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col22'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col23'" ></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'col24'" ></wj-flex-grid-column>
</wj-flex-grid>